html {
    overflow-y: scroll;
}
body {
    padding: 15px;
    font: 13px sans-serif;
    line-height: 20px;
}
section {
    margin: 15px 5%;
}
.menu {
    margin: 0 0 20px;
    padding: 0;
    font-size: 12px;
    line-height: 26px;
}
.menu li {
    padding: 5px 0;
    display: inline-block;
    text-align: center;
    border-bottom: 3px solid #DDD;
    outline: 10px solid #FFF;
    width: 33%;
    cursor: pointer;
}
.menu li.selected {
    border-color: #666;
    cursor: default;
}
.comment {
    background: #EEE;
    padding: 16px;
    margin: 16px 0;
}
.comment h4,
.comment p {
    padding: 2px;
    margin: 0;
    line-height: 18px;
}
.comment h4 {
    text-transform: capitalize;
    color: #666;
}
